<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Website</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: black;
        padding: 100px 150px 0 150px;
      }
      h1 {
        font-size: 48px;
        margin-bottom: 20px;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Sorry. Page not found.</h1>
    </div>
  </body>
</html>